* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.active-nav-link {
  color: #f53838 !important;
}

h2 {
  color: #0b132a !important;
}

.get-btn {
  font-size: 16px !important;
  font-weight: bold !important;
  transition: all 0.3s ease-in-out !important;
}

.get-btn:hover {
  transform: translate(0, -5px);
}

a {
  text-decoration: none;
  color: #0b132a;
}

.last-link {
  margin-right: 150px !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  object-fit: contain;
  flex-shrink: 0;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-prev,
.slider-next {
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider-prev:hover,
.slider-next:hover {
  transform: scale(1.1);
}

.slider-prev {
  margin-left: 10px;
}

.slider-next {
  margin-right: 10px;
}

.slider-prev i,
.slider-next i {
  font-size: 48px;
}

.card-img-top {
  border-radius: 0.25rem;
}

.card-body {
  padding: 1.25rem;
}

.add-to-cart {
  width: 50px;
  /* Adjust width to desired size */
  height: 50px;
  /* Adjust height to desired size */
  border-radius: 50%;
  /* Make it circular */
  transition: transform 0.3s ease-in-out;
  margin-left: 200px;
}

.add-to-cart:hover {
  transform: scale(1.1);
}

.bi-cart-plus:hover {
  cursor: pointer;
  color: #fff;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

i:hover {
  cursor: pointer;
  color: #f53838;
}

#back-to-top-btn:hover {
  .bi-arrow-up {
    color: #fff !important;
  }
}

#cart {
  position: relative;
}

.badge {
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f53838;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -5px;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: right 0.3s;
}

.cart.active {
  right: 0;
}

.cart-item-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 5px;
}

.cart-product-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.cart-item-price {
  font-weight: bold;
  color: #4CAF50;
  /* green color */
}

.quantity-label {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
  /* dark gray color */
}

.quantity-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  /* light gray border */
  border-radius: 5px;
}

.cart-remove {
  font-size: 1.5rem;
  color: #f53838;
  margin-left: 50px;
  margin-top: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
  /* smooth color transition */
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #f53838;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
  font-weight: bold;
  color: #4CAF50;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: #f53838;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-buy:hover {
  background-color: #d57373;
  transform: scale(1.1);
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.product-info {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin-top: 50px;
  /* Set max width for the overlay */
  width: 100%;
  /* Take full width */
  display: flex;
  /* Use flexbox for layout */
  flex-direction: column;
  /* Stack elements vertically */
  align-items: center;
  /* Center elements horizontally */
  text-align: center;
  /* Center text */
}

.product-info h2 {
  margin-top: 50px;
}

.product-info p {
  margin-bottom: 10px;
}

.product-info button {
  margin-top: 10px;
}

.product-img {
  max-width: 30%;
  /* Ensure image doesn't overflow */
  border-radius: 8px;
  /* Add border radius to the image */
  margin-bottom: 10px;
  /* Add some spacing below the image */
}

.product-info .price {
  font-weight: bold;
}

.product-info .price-value {
  margin-left: 5px;
  color: #f53838;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
#message:focus {
  border-color: #f53838;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}